@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body {
  padding-top: 56px;
  font-family: "Lato", sans-serif;
}
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
  background-color: #1b3667;
  transition: all 0.3s;
  padding-top: 56px;
}

.content {
  transition: margin-left 0.3s;
  padding: 20px;
}

.content.full-width {
  margin-left: 0;
}
.dropdown-toggle::after {
  transition: transform 0.2s;
}

.dropdown-toggle.collapsed::after {
  transform: rotate(180deg);
}
.card {
  transition: transform 0.3s;
}

h2 {
  color: #6c757d;
}
